body {
    font-family: arial, sans-serif;
    background-color: #000;
    width: 100%;
    height: calc(100vh - 4rem);
    margin: 0;
  }
  
  .equalizer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10rem;
    margin-top: 4rem;
  }
  
  .equalizer-bar {
    width: 1.8rem;
    margin: 0 3px;
    display: flex;
    flex-direction: column-reverse;
    
    span {
      display: block;
      height: 4px;
      border-radius: 2px;
      width: 100%;
      margin: 2px 0;
      background-color: #FFF;
      transition: .2s ease all;
      opacity: 1;
    }
    
    &:nth-child(1) span {
      background: #fc0127;
    }
    
    &:nth-child(2) span {
      background: #fb0275;
    }
    
    &:nth-child(3) span {
      background: #b50cd3;
    }
    
    &:nth-child(4) span {
      background: #6407e9;
    }
    
    &:nth-child(5) span {
      background: #2a06a9;
    }
    
    &:nth-child(6) span {
      background: #080ad7;
    }
    
    &:nth-child(7) span {
      background: #0265e2;
    }
    
    &:nth-child(8) span {
      background: #03fcfc;
    }
    
    &:nth-child(9) span {
      background: #02fe46;
    }
    
    &:nth-child(10) span {
      background: #05fb0f;
    }
    
    &:nth-child(11) span {
      background: #97f611;
    }
    
    &:nth-child(12) span {
      background: #f5e506;
    }
    
    &:nth-child(13) span {
      background: #d7a414;
    }
    
    &:nth-child(14) span {
      background: #fc6b02;
    }
    
    &:nth-child(15) span {
      background: #df1506;
    }
    
  }
  
  .song-info {
    color: #FFF;
    width: 25rem;
    font-style: italic;
    font-size: 12px;
    margin: .5rem auto;
  }
  
  footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    
    .brand {
      color: #FFF;
      text-align: center;
      margin: 0;
      padding: 10px 0;
      opacity: .4;
      transition: .4s ease all;
      
      &:hover {
        opacity: 1;
      }
      
      a {
        text-decoration: none;
        color: #000;
        background-color: #FFF;
        padding: 5px 10px;
        font-weight: 600;
      }
    } 
  }